<div class="app-body">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="mat-elevation-z6">
      <span>Model Detection Object Trainer</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      @if (router.url != '/login'){
      <button mat-icon-button
              class="example-icon"
              aria-label="Example icon-button with menu icon"
              (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      }

      <span class="example-spacer"></span>
      <button mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon">
        <ng-icon name="bootstrapGithub"></ng-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container class="container"
                        autosize>
    <mat-drawer #drawer
                class="sidenav"
                mode="side">
      <mat-nav-list>
        @for (link of menuList; track link) {
        <a mat-list-item
           [routerLink]="link.path"><mat-icon>{{ link.icon }}</mat-icon>{{ link.label }}</a>
        }
      </mat-nav-list>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>