.mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgb(208, 235, 235);
    cursor: pointer;
}
mat-tab-group, mat-tab {
    height: 100%;
}
::ng-deep.mat-mdc-tab-body-wrapper {
    height: 100%;
}

.mat-mdc-raised-button{
    margin-top: 20px;
}